@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,400;0,500;1,700&display=swap');

*{
  font-family: 'Barlow', sans-serif;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body
{
display: grid;
width: 100%;
height: 100%;
} */
.master
{
    display: grid;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;

}

.start{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }
  
  .block2{
    display: flex;
    flex-direction: column;
    height: 110%;
    width: 82%;
    background: rgb(8, 8, 8);
    
  }
  .block1{
    display: flex;
    flex-direction: column;
    height: 110%;
    width: 18%;
    background:rgb(19, 18, 18);
    gap: 1rem;
    border-color: black;
   
  }
  .block1:shadow
  {
   height: 700px;
  }
  .block3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70px;
    width: 100%;
    /* background: rgb(46, 46, 46); */
    position: fixed;
    bottom: 0;
  }


.logo1
{
    display: flex;
    align-items: center;
    background: rgb(48, 49, 49);
    height: 7rem;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
.image1
{ margin-left: 2rem;
  width: 3rem;
  height: 3rem;
}
.textOne1
{
  margin-bottom: 0.5rem;
  color: white;
  font-size: 2.2rem;
}
.mouv
{
    padding-left: 15rem;
    gap: 1rem;
}
.image3
{
  margin-left: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.name{
    color: antiquewhite;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    padding-right: 100px;
}
.logout
{
    margin-left: 100px;
}
.root
{

    text-decoration: none;
    font-size: 1.5rem;
    color: red;
    font-weight: bold;
}
.titre{

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position:fixed;
  padding: 30px;

}
.pos
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 30px;
  align-items: center;
  justify-content: space-between;
  background: rgb(24, 24, 24);
  height: 1.8rem;
  width: 100%;
  padding: 3.5rem 1rem;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.title h3
{
  margin-top: 2rem;
  margin-left: 2rem;
  color: beige;
  font-size: 25px;
}

@media screen and (max-width: 500px){
  /* Ici du code s'appliquant aux écrans de moins de 480 pixels de large */

*{
  font-family: 'Barlow', sans-serif;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.master
{
    display: grid;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;

}
  .block1{
    display: none;
  }
  .block2{
    width: 100%;
    height: 102%;
    box-sizing: content-box;
  }
  /* .pos
{

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: rgb(24, 24, 24);
  height: 1.8rem;
  width: 100%;
  padding: 3.5rem 1rem;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
} */
}
.header
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    margin: 1rem;
  }