.artist
{
    width: 9.4rem;
    height: 14rem;
    background-color: rgb(31, 30, 30);
    display: flex;
    flex-direction: column;
    margin-top: 0.6rem;
    margin-left: 1rem;
    border-radius:10px;
    justify-content: space-around;
    transition: 0.6s;
}
.star
{
width: 8.7rem;
height: 6rem;
margin-top: 5px;
margin-left: 5px;
margin-right: 5px;
background-repeat:no-repeat;
background-position:center;
background-size:cover;
border-radius: 10px;
box-sizing: border-box;
}
.artist .button
{
  padding-right: 0.7rem;
  display: flex;
  justify-content: flex-end;
  visibility: hidden;
  transition: .2s ease-in-out;
  padding-bottom: 10px;
}
.artist:hover{
  background-color: rgb(73, 74, 75);
}
.artist:hover .button
{   
 visibility: visible;

 
}
.artist:hover .button:hover
{   
  
  transform: scale(1.1);
}


.raw{
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}
.titre
{
color: white;
margin-bottom: 5px;
font-size: 12px;
}
.name
{
color: white;
font-size: 15px;
font-weight: bold;
}
.header
  {
    display: flex;
    flex-wrap: wrap; 
    margin: 1rem;
  }