.home
{
 display: flex;
 flex-direction: column;
 margin-right: 5rem;
 gap: 1.5rem;
 transform: scale(1);
 
}
.em{
    color:rgb(255, 254, 254);
    text-decoration: none;
    font-size: 16px;
    margin-top: 1rem;
    margin-left: 0.3rem;
    font-weight: bold;
    transition: 0.5s;
    padding-bottom: 4px;
}
.em:hover{
    color:rgb(247, 8, 8);
    transform: scale(1.1);

}
.lign{
    display: flex;
    align-items: center;
    height: 1rem;
    margin-top: 0.5rem;
    margin-left: 4rem;
    padding: 1.5rem 1rem;
    width: 13rem;
}
